[submodule "bin/.zprezto"]
	path = bin/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
    ignore = dirty
[submodule "bin/.vim/iceberg.vim"]
	path = bin/.vim/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim.git
